@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mgr:hover {
  border-radius: 269px;
  box-shadow: -8px 8px #9877e7;
}

.rectangular-dot {
  width: 14px;
  height: 14px;
  border: 1px solid #fb2e86;
  cursor: pointer;
}

.active-dot {
  background-color: #fb2e86;
}
